# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite3

# Virtual environment
venv/
env/

# OS files
.DS_Store

# VSCode settings
.vscode/

# Logs
*.log

# Backup files
*.bak
*.swp
